<template>

  <div class="form-control">
    <label for="">Email</label>
    <input type="email" v-model="inputEmail"  />
  </div>

  <div class="form-control">
    <label for="">Plate No</label>
    <input type="text" v-model="inputPlate" maxlength="8" />
  </div>

  <div class="">
      <button type="button" class="btn btn-block" name="button" @click="submitReturn()">Submit</button>
  </div>

  <router-link to="/">Loan or Test Drive A Car</router-link>

</template>

<script>
//import Car from './Car'

export default {
  name: 'Return',
  data: function () {
    return {
      inputEmail: '',
      inputPlate: '',
    }
  },
  methods : {
    async submitReturn(){

      if (!this.inputPlate && !this.inputEmail) {
        alert('All fields are required')
        return
      }

      //console.log(this.selectedCar)
      let _data = {
        email : this.inputEmail,
        plate : this.inputPlate,
        is_out : 0,
        is_returned : 1,
        condition: 'good'
      }

    const res = await fetch('http://128.199.91.119/api/return-car', {
      method: 'POST',
      headers: {
        'Content-type': 'application/json',
      },
      body: JSON.stringify(_data)
    })

    const data = await res.json()

    if(data.error)
    {
      alert('form not saved');
      return
    }

    if(data.id)
    {
      console.log(data)
      alert('Thank you for using our service');
      return
    }



    return data
    }
  },
  props: {
    tasks: Array,
  },
  components: {
    //Car,
  }
}
</script>

<style scoped>
.add-form {
  margin-bottom: 40px;
}

.form-control {
  margin: 20px 0;
}

.form-control label {
  display: block;
}

.form-control input, select {
  width: 100%;
  height: 40px;
  margin: 5px;
  padding: 3px 7px;
  font-size: 17px;
}

.form-control-check {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.form-control-check label {
  flex: 1;
}

.form-control-check input {
  flex: 2;
  height: 20px;
}
</style>
