<template>
  <div>
    <h3>
      Text

    </h3>
    <p>Day</p>
  </div>
</template>

<script>
export default {
  name: 'Car',
  props: {
    task: Object,
  },
}
</script>

<style scope>
.fas {
  color: red;
}

.task {
  background: #f4f4f4;
  margin: 5px;
  padding: 10px 20px;
  cursor: pointer;
}

.task.reminder {
  border-left: 5px solid green;
}

.task h3 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
</style>
