<template>

  <div v-show="returnPage">
  <div class="form-control">
    <label for="">Email</label>
    <input type="email" v-model="inputEmail"  />
  </div>

  <div class="form-control">
    <label for="">First Name</label>
    <input type="text" v-model="inputFirstName"  />
  </div>

  <div class="form-control">
    <label for="">Last Name</label>
    <input type="text" v-model="inputLastName"  />
  </div>

  <div class="form-control">
    <label for="">Phone</label>
    <input type="tel" v-model="inputPhone"  />
  </div>

  <div class="form-control">
    <label for="">Plate No</label>
    <input type="text" v-model="inputPlate" maxlength="8" />
  </div>

  <div class="form-control">
    <label for="">Checkout Date</label>
    <input type="date" v-model="inputCheckoutDate" />
  </div>

  <div class="form-control">
    <label for="">Return Date</label>
    <input type="date" v-model="inputReturnDate" />
  </div>

  <div class="form-control">
    <label for="">Car</label>
    <select v-model="selectedCar">
      <option :key="task.MakeName" v-for="task in tasks">{{task.MakeName}}</option>
    </select>
  </div>

  <div class="form-control form-control-check">

    <p>Loan</p>
    <input v-model="selectedTransaction" type="radio" name="transaction" v-bind:value="'loan'" />

    <p>Test Drive</p>
    <input v-model="selectedTransaction" type="radio" name="transaction" v-bind:value="'test'" />
  </div>

  <div class="">
      <button type="button" class="btn btn-block" name="button" @click="submitForm()">Submit</button>
  </div>



  <router-link to="/return">Return Vehicle</router-link>

  </div>

</template>

<script>
//import Car from './Car'

export default {
  name: 'Cars',
  data: function () {
    return {
      selectedCar: '',
      selectedTransaction: '',
      inputEmail: '',
      inputFirstName: '',
      inputLastName: '',
      inputPhone: '',
      inputPlate: '',
      inputCheckoutDate: '',
      inputReturnDate: '',
      serverResponse: '',
      saveSuccessful: false,
      tasks:[]
    }
  },
  methods : {
    async submitForm(){

      if (!this.selectedCar && !this.inputEmail && !this.inputPlate && !this.inputCheckoutDate && !this.inputReturnDate && !this.selectedTransaction) {
        alert('All fields are required')
        return
      }

      //console.log(this.selectedCar)
      let _data = {
        first_name : this.inputFirstName,
        last_name : this.inputLastName,
        phone : this.inputPhone,
        plate : this.inputPlate,
        checkout_date : this.inputCheckoutDate,
        return_date : this.inputReturnDate,
        is_out : 1,
        email : this.inputEmail,
        make : this.selectedCar,
        transaction : this.selectedTransaction,

      }

    const res = await fetch('http://128.199.91.119/api/save', {
      method: 'POST',
      headers: {
        'Content-type': 'application/json',
      },
      body: JSON.stringify(_data)
    })

    const data = await res.json()

    if(data.error)
    {
      alert('form not saved');
      return
    }

    if(data.id)
    {
      alert('Thank you for using our service');
      return
    }

    return data
    },
    async fetchTasks() {

      //console.log('loading')
      const res = await fetch('https://vpic.nhtsa.dot.gov/api/vehicles/GetMakesForVehicleType/car?format=json')
      const data = await res.json()

      return data.Results
    },
  },
  props: {
    //tasks: Array,
  },
  computed: {
    returnPage() {
      if (this.$route.path === '/return') {
        return false
      } else {
        return true
      }
    },
  },
  async created(){
    this.tasks = await this.fetchTasks()
  },
}
</script>

<style scoped>
.add-form {
  margin-bottom: 40px;
}

.form-control {
  margin: 20px 0;
}

.form-control label {
  display: block;
}

.form-control input, select {
  width: 100%;
  height: 40px;
  margin: 5px;
  padding: 3px 7px;
  font-size: 17px;
}

.form-control-check {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.form-control-check label {
  flex: 1;
}

.form-control-check input {
  flex: 2;
  height: 20px;
}
</style>
